@tailwind base;
@tailwind components;
@tailwind utilities;

.apexcharts-tooltip,
.apexcharts-tooltip-title {
	background: black !important;
	color: white !important;
}

a {
	outline: none;
	border: none;
	text-decoration: none;
	color: white;
}
